*{
    padding: 0;
    margin: 0;
}

.message-title{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 20vh;
}
.message-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: auto; 
    padding: 20px;
}
.message-content{
    width: 100%;
    max-width: 700px;
    margin: 20px 30px;
}
.image img{
    width: 100%;
    max-width: 500px;
}